









[flags]




    DARKPLACES_STRING_TABLE_BUG = true









    ADJUST_VECTOR_FIELDS = true






    FTEPP = true




























    FTEPP_PREDEFS = false





















    FTEPP_MATHDEFS = false


















    FTEPP_INDIRECT_EXPANSION = false




    RELAXED_SWITCH = true






    SHORT_LOGIC = true







    PERL_LOGIC = false







    TRANSLATABLE_STRINGS = true





    INITIALIZED_NONCONSTANTS = false






    ASSIGN_FUNCTION_TYPES = true




    LNO = false






    CORRECT_TERNARY = true







    SINGLE_VECTOR_DEFS = true













    CORRECT_LOGIC = true







    TRUE_EMPTY_STRINGS = false






    FALSE_EMPTY_STRINGS = true






    UTF8 = true









    BAIL_ON_WERROR = false














    LOOP_LABELS = true





















    UNTYPED_NIL = true







    PERMISSIVE = false














    VARIADIC_ARGS = true







    LEGACY_VECTOR_MATHS = false











    EXPRESSIONS_FOR_BUILTINS = true














    RETURN_ASSIGNMENTS = true








    UNSAFE_VARARGS = false







    TYPELESS_STORES = false






    SORT_OPERANDS = false





    EMULATE_STATE = false






    ARITHMETIC_EXCEPTIONS = false




    SPLIT_VECTOR_PARAMETERS = false







    DEFAULT_ERASEABLE = false

[warnings]






    UNUSED_VARIABLE = false





    UNUSED_COMPONENT = false







    USED_UNINITIALIZED = false






    UNKNOWN_CONTROL_SEQUENCE = false





    EXTENSIONS = false





    FIELD_REDECLARED = false





    MISSING_RETURN_VALUES = false




    INVALID_PARAMETER_COUNT = false




    LOCAL_SHADOWS = false






    LOCAL_CONSTANTS = false






    VOID_VARIABLES = false







    IMPLICIT_FUNCTION_POINTER = false






    VARIADIC_FUNCTION = false





    FRAME_MACROS = false





    EFFECTLESS_STATEMENT = false






    END_SYS_FIELDS = false






    ASSIGN_FUNCTION_TYPES = false




    CPP = true




    MULTIFILE_IF = true






    DOUBLE_DECLARATION = false










    CONST_VAR = true





    MULTIBYTE_CHARACTER = false







    TERNARY_PRECEDENCE = false




    UNKNOWN_PRAGMAS = true





    UNREACHABLE_CODE = true





    DEBUG = false






    UNKNOWN_ATTRIBUTE = true




    RESERVED_NAMES = true





    UNINITIALIZED_CONSTANT = true






    UNINITIALIZED_GLOBAL = true






    DIFFERENT_QUALIFIERS = true




    DIFFERENT_ATTRIBUTES = true






    DEPRECATED = true






    PARENTHESIS = true







    UNSAFE_TYPES = true







    BREAKDEF = true







    CONST_OVERWRITE = true




    DIRECTIVE_INMACRO = true








    BUILTINS = true





    INEXACT_COMPARES = true


[optimizations]





    PEEPHOLE = true





    TAIL_RECURSION = true














    OVERLAP_LOCALS = true









    LOCAL_TEMPS = true







    GLOBAL_TEMPS = true






    STRIP_CONSTANT_NAMES = true
















    OVERLAP_STRINGS = true










    CALL_STORES = true









    VOID_RETURN = true











    VECTOR_COMPONENTS = true







    CONST_FOLD_DCE = true









    CONST_FOLD = true
