<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.mesh.telemetry</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/mesh/bin/mesh-python</string>
    <string>/usr/local/mesh/bin/mesh-telemetry.py</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>StandardOutPath</key>
  <string>/usr/local/mesh/log/io.mesh.telemetry.out.log</string>
  <key>StandardErrorPath</key>
  <string>/usr/local/mesh/log/io.mesh.telemetry.err.log</string>
</dict>
</plist>
